.app-container {
  margin-left: 20%;
  margin-right: 20%;
}
.header-container {
  text-align: center;
}
.sub-header {
  text-align: center;
}
.emphasisText {
  font-style: italic;
  font-weight: bold;
}
